temp/
CLAUDE.md
.claude/

# OS-specific files
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# Xcode project-specific
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Xcode Patch
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/

# Carthage
Carthage/Build/

# CocoaPods
Pods/
